appdirs==1.4.4
asgiref~=3.2.10
attrs==19.3.0
cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
defusedxml==0.6.0
Django>=3.0.7
idna==2.9
idpay==0.0.1
isodate==0.6.0
lxml==4.6.3
python-decouple==3.1
pytz==2020.1
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
sqlparse==0.3.1
urllib3==1.26.5
