<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="IDPay">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title> IDPay </title>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://idpay.ir">IDPay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/requirement">Requirements</a>
            <a class="nav-item nav-link" href="/about-me">About</a>

          </div>
        </div>
      </nav>

      <br/> <br/> <br/> <br/>

    <div class="container">
        <div class="row">
          <div class="col-12">


            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Payment ID</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Card Number</th>
                    <th scope="col">IDPay Track ID</th>
                    <th scope="col">Bank Track ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Check</th>
                  </tr>
                </thead>
                <tbody>

                    {% for payment in payments %}

                  <tr>
                    <th scope="row">{{payment.pk}}</th>
                    <td>{{payment.order_id}}</td>
                    <td>{{payment.payment_id}}</td>
                    <td>{{payment.amount}}</td>
                    <td>{{payment.card_number }}</td>
                    <td>{{payment.idpay_track_id}}</td>
                    <td>{{payment.bank_track_id}}</td>
                    <td>{{payment.status}}</td>
                    <td><a href="{%url 'payment_check' pk=payment.pk %}">Check</a></td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>


          </div>
        </div>
      </div>

      <br/> <br/>

      <div class="container">
            <div class="row">
            <div class="col-3"></div>
              <div class="col-6">

                <form action="{%url 'payment_start' %}" method="POST">
                    {% csrf_token %}

                    <input style="width: 100%;" type="number" name="amount" placeholder="Amount" required>
                    <br/> <br/>

                    <input style="width: 100%;" type="text" name="name" placeholder="Name" required>
                    <br/> <br/>

                    <input style="width: 100%;" type="text" name="phone" placeholder="Phone">
                    <br/> <br/>

                    <input style="width: 100%;" type="mail" name="mail" placeholder="MAil">
                    <br/> <br/>

                    <input style="width: 100%;" type="text" name="desc" placeholder="Description">
                    <br/> <br/>

                    <button style="width: 100%;"  type="submit" class="btn btn-primary">Start Payment</button>

                </form>

              </div>
              <div class="col-3"></div>
            </div>
          </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>